/*@import url(menu.css);/*esta linea lo que hace es importar "equis archivo de css a nuestra pestaña de archivos principal de esta forma en HTML solo tendriamos que ligar una sola pestaña de estilos y no muchas pestañas"*/
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Poppins:600|Ubuntu|ZCOOL+QingKe+HuangYou');

/*haciendo reset del css default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width:100%;
  margin:auto;
}

section {
  width: 100%;
  margin-bottom: 4.5rem;
}

/* html{
    background-image: url("imagenes pokemon/pokemon collage.jpg");
} */

 body {
   background-image: url("imagenes pokemon/pokemon collage.jpg");
   width: 100%;
  /* padding: auto; */
  /* margin: 3em auto; */
}

header.container {
  display: table;
}

header {
  width: 100%;
  height: 4.5rem;
  background: rgb(3, 62, 180);
  position: absolute;
  /*position: fixed; /*fixed lo que hace es que en este caso el menu quede pegado hasta arriba de la pagina, junto con top, left y z index que le indican desde donde empieza*/
  top: 0;
  left: 0;
  z-index: 100;
  padding: .5rem;
}

header img.logo {
  float:left;
  height:100%;
  }

  .btnMenu {
    float:right;
    height:100%;
    margin: auto;
    /* padding: .5em; */
    /* margin-top: .5em;
    margin-bottom: .5em; */
  }

.contentInfoIndex {
  background: rgb(240, 248, 255,0.8);
  max-width: 90%;
  text-align: justify;
  margin: auto;
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  padding: 1rem 1rem 1rem 1rem;
}

section.welcome h1 {
  color:rgba(214, 20, 20);
  text-align: center;
  margin: auto;
  margin-bottom: .5em;
  margin-top: .2em;
  font-family:'ZCOOL QingKe HuangYou', sans-serif;
  font-size: 3.5rem;
  padding: .1rem;
}

section.welcome p {
  text-align: justify;
  color:rgb(0, 0, 0);
  font-family:'Poppins', sans-serif;
  /* font-size: 1em; */
}

.content-banner img {
  /* border: solid black .2em; */
  /* position: relative; */
  /* left: 1rem; */
  border-radius: 4rem;
  width: 20rem;
  height: 10rem;
  /* bottom: 50; */
  margin: auto;
  /* margin-bottom: 2.5em; */
  padding: 1rem 3rem;
}

.infoBanner {
  display: block;
  /* text-align: justify; */
}

.infoBanner h2 {
  color:rgb(214, 20, 20);
  text-align: center;
  margin: auto;
  margin-bottom: 4%;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  font-size: 3.5rem;
}

p.text-banner {
  margin: auto;
  /* margin-bottom: 3%; */
  font-family:'Poppins', sans-serif;
  /* font-size: 1em; */
}

.contentInfo {
    background: rgba(1, 11, 19, 0.8);
    height: 100%;
    width: 90%;
    text-align: center;
    margin: 1rem auto;
    margin-top: 2rem;
    border-radius: 2rem;
    padding: 1rem;  
}

  nav.ordenar {
    text-align: center;
    border-radius: 2rem;
    padding:1rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border: .1rem solid black;
    margin-top: 1%;
    color: bisque;
    }
    
.card {
    background:rgb(245, 237, 237);
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    /* max-height: 100%;
    max-width: 100%; */
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
}

.card:hover{
  background:rgb(240, 225, 15); 
  }

.pkm-thmb {
  max-height: 100%;
  max-width: 100%;
}

.pkm{
  max-height:100%;
  max-width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1;  Sit on top */
    left: 0em;
    top: 0em;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(0, 0, 0, 0.5); /* Black w/ opacity */
}

h2 {
    color: rgb(27, 20, 20);
    font-family: 'Poppins', sans-serif;
}

/* Modal Header */
.modal-header, .evolutions,.preevolutions {
  padding: .5rem .16rem;
  background-color:rgb(5, 148, 243);
  color: rgb(3, 3, 3);
  width: 100%;
}
/* Modal Body */
.modal-body {
  padding: 1rem auto;
  text-align: center;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    background-image: url("imagenes pokemon/pokedex.png");
    background-repeat: no-repeat;
    margin: 5.5rem auto; /* 15% from the top and centered */
    padding: 6.5rem 0rem;
    border: .1rem solid rgb(216, 6, 6);
    width: 23rem; /* Could be more or less, depending on screen size */
   font-family: 'Poppins', sans-serif;
   position: relative;
   top:0;
   /* left: 25%; */
  }
  /* The Close Button */
.close {
    color: rgb(37, 35, 35);
    float: right;
    font-size: 2rem;
    /* font-weight: bolder; */
  }
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#averages {
    /* background:rgb(1, 11, 19, 0.8); */
    border-radius: .15rem;
    color: bisque;
    font-family: 'Ubuntu', sans-serif;
}
    
.to-top{
	color:black;
	padding-top:2.5rem;
	display:inline-block;/* or inline-block */
  position: relative;
  top: 2.5rem;
  left: 70%;
	border-color:rgb(22, 3, 3);
  text-decoration:none;
  font-family: sans-serif;
  transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:.9rem;
	position:absolute;
	top:3%;
	left:50%;
	margin-left:-.7rem;
	border:solid .13rem white;
	border-radius:10rem;
	width:1.8rem;
	height:1.8rem;
	line-height:1.3rem;
	border-color:inherit;
  transition:transform .5s ease-in;
}
.to-top:hover{
	color:rgb(7, 90, 245);
	border-color:rgb(255, 15, 15);
}
.to-top:hover:before{
	transform: rotate(360deg);
}

#ancla {
	color:rgb(255, 251, 251);
	padding-top:1.8rem;
	display:inline-block;/* or block */
  position:relative;
  top: -5.5rem;
  left: 85%;
	border-color:rgb(253, 252, 252);
  text-decoration:none;
  /* text-align:center; */
  font-family: sans-serif;
  /* font-size:180%; */
  /* margin:-1em; */
	transition:all .3s ease-out;
}
#ancla:before {
	content:'▲';
	font-size:.70rem;
	position:absolute;
	top:-1rem;
	left:40%;
	margin-left:-.6rem;
	border:solid .14rem rgb(146, 231, 48);
	border-radius:2rem;
	width:2rem;
	height:2rem;
	line-height:2rem;
	border-color:inherit;
	transition:transform .5s ease-in;
}
#ancla:hover {
	color:rgb(229, 255, 0);
	border-color:rgb(255, 15, 15);
}
#ancla:hover:before {
	transform: rotate(360deg);
}


