/*@import url(menu.css);/*esta linea lo que hace es importar "equis archivo de css a nuestra pestaña de archivos principal de esta forma en HTML solo tendriamos que ligar una sola pestaña de estilos y no muchas pestañas"*/
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Poppins:600|Ubuntu|ZCOOL+QingKe+HuangYou');

/*haciendo reset del css default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width:98%;
  margin:auto;
}

html{
    background-image: url("imagenes pokemon/pokemon collage.jpg");
    width: 100%;
}

 body {
  padding: 10px 5px 10px 5px;
  margin: 5% auto;
}

.card:hover{
background:rgb(240, 225, 15); 
}

.contentInfo {
    background: rgba(1, 11, 19, 0.8);
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    padding: 13px;
    /* height: 100%;   */
}

header {
  width: 100%;
  height: 17%;
  background: rgb(3, 62, 180);
  position: absolute;
  /*position: fixed; /*fixed lo que hace es que en este caso el menu quede pegado hasta arriba de la pagina, junto con top, left y z index que le indican desde donde empieza*/
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px;
}

header img.logo {
  float:left;
  height:100%;
  }

  .btnMenu {
    float:right;
    height:100%;
  }
  
  nav.ordenar {
    text-align: center;
    border-radius: 15px;
    padding:13px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border: 2px solid black;
    margin-top: 1%;
    color: bisque;
    }
    
.card{
    background:rgb(245, 237, 237);
    padding: 10px 20px;
    border-radius: 15px;
    max-height: 250px;
    font-family: 'Ubuntu', sans-serif;
}

.pkm-thmb {
  height: 50%;
}

.pkm{
  height:100% ;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1;  Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgb(0, 0, 0, 0.5); /* Black w/ opacity */
}
h2{
    color: rgb(27, 20, 20);
    font-family: 'Poppins', sans-serif;
}

/* Modal Header */
.modal-header, .evolutions,.preevolutions {
  padding: 5px 16px;
  background-color: #d8ecd8;
  color: rgb(3, 3, 3);
}
/* Modal Body */
.modal-body {
  padding: 5px 16px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
   /* height: 100%;*/
   font-family: 'Poppins', sans-serif;
  }
  /* The Close Button */
.close {
    color: rgb(37, 35, 35);
    float: right;
    font-size: 28px;
    font-weight: bolder;
  }
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#averages {
    /* background:rgb(1, 11, 19, 0.8); */
    border-radius: 15px;
    color: bisque;
    font-family: 'Ubuntu', sans-serif;
}
    
.contentInfoIndex {
  background: rgb(240, 248, 255,0.8);
  max-width: 90%;
  text-align: justify;
  margin: 5% auto;
  border-radius: 25px;
  padding: 30px 40px 30px 40px;
}

section.welcome h1 {
  color:rgba(238, 26, 26, 0.815);
  -webkit-text-stroke-width: 1px;
  text-align: center;
  margin: 4% auto;
  font-family:'ZCOOL QingKe HuangYou', sans-serif;
  font-size: 75px;
  padding: 5px;
}

section.welcome p {
  text-align: justify;
  color:rgb(0, 0, 0);
  font-family:'Poppins', sans-serif;
  font-size: 20px;
}

.infoBanner {
  display: block;
  text-align: center;
}

.infoBanner h2 {
  color:rgb(56, 247, 8);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  margin: 3% auto;
  font-family: cursive, sans-serif;
  font-size: 50px;
}

p.text-banner {
  margin: 3% auto;
  font-family: cursive, sans-serif;
  font-size: 18px;
}

.to-top{
	color:black;
	padding-top:1.8em;
	display:inline-block;/* or block */
  position:relative;
  top:50%;
  left: 50%;
	border-color:rgb(22, 3, 3);
	text-decoration:none;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:rgb(250, 74, 103);
	border-color:rgb(206, 21, 52);
}
.to-top:hover:before{
	transform: rotate(360deg);
}

#ancla {
	color:black;
	padding-top:1.8em;
	display:inline-block;/* or block */
  position:relative;
  left: 80%;
	border-color:rgb(22, 3, 3);
  text-decoration:none;
  text-align:center;
  font-family: cursive, sans-serif;
  font-size:180%;
  margin:auto;
	transition:all .3s ease-out;
}
#ancla:before {
	content:'▲';
	font-size:.60em;
	position:absolute;
	top:0%;
	left:40%;
	margin-left:-.9em;
	border:solid .20em rgb(146, 231, 48);
	border-radius:30em;
	width:3em;
	height:3em;
	line-height:3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
#ancla:hover {
	color:rgb(21, 132, 206);
	border-color:rgb(167, 27, 27);
}
#ancla:hover:before {
	transform: rotate(360deg);
}


