/*haciendo reset del css default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

section {
  width: 100%;
  margin-bottom: 3.5rem;
}

body {
  background-image: url("imagenes pokemon/pokemon collage.jpg");
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Righteous', sans-serif;
}

p {
  font-family: 'Blinker', sans-serif;
}

header.container {
  width: 100%;
  height: auto;
}

header {
  background: rgb(3, 62, 180);
  position: absolute;
  /*position: fixed; /*fixed lo que hace es que en este caso el menu quede pegado hasta arriba de la pagina, junto con top, left y z index que le indican desde donde empieza*/
  top: 0;
  left: 0;
  z-index: 100;
  padding: .5rem;
}

header img.logo {
  float: left;
  width: 100%;
}

.btnMenu {
  float: right;
  width: 4rem;
  position: relative;
  right: 5rem;
}

.contentInfoIndex {
  background: rgb(240, 248, 255, 0.8);
  max-width: 90%;
  text-align: justify;
  margin: 10rem auto;
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  padding: 1rem 1rem 1rem 1rem;
}

section.welcome h1 {
  font-size: 3.5rem;
  color: rgba(214, 20, 20);
  text-align: center;
  margin: auto;
  margin-bottom: .5em;
  margin-top: .2em;
  padding: .1rem;
}

section.welcome p {
  text-align: justify;
  color: rgb(0, 0, 0);
}

.content-banner img {
  position: relative;
  top: -1rem;
  border-radius: 4rem;
  width: 100%;
  height: 30em;
  margin: .5rem auto;
}

.infoBanner {
  display: block;
}

.infoBanner h2 {
  font-size: 3.5rem;
  color: rgb(214, 20, 20);
  text-align: center;
  margin: auto;
  margin-bottom: 4%;
}

p.text-banner {
  margin: auto;
}

.contentInfo {
  background: rgba(1, 11, 19, 0.8);
  width: 90%;
  height: 100%;
  text-align: center;
  margin: 1rem auto;
  margin-top: 10rem;
  border-radius: 2rem;
}

nav.ordenar {
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: 'Blinker', sans-serif;
  border: .1rem solid black;
  margin-top: 1%;
  color: bisque;
}

.btnOrder {
  font-size: 1rem;
  height: 3rem;
  margin: .5rem;
  padding: .3rem;
  background-color: rgb(199, 26, 26);
  color: white;
  border-radius: .2rem;
  transition: 01s;
}

.btnOrder:hover {
  background-color: rgb(10, 10, 10);
}

.card {
  font-family: 'Blinker', sans-serif;
  background: rgb(245, 237, 237);
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  padding: .5rem;
  border-radius: 1rem;
  display: inline-block;
  border: solid .1rem blue;
  transition: 1s;
}

.card:hover {
  background: rgb(252, 255, 76);
  border: solid .2rem red;
}

.pkm-thmb {
  max-height: 100%;
  max-width: 100%;
}

.pkm {
  max-height: 100%;
  max-width: 100%;
}

/* The Modal (background) */
.modal {
  /* Hidden by default */
  display: none;
  /* Stay in place */
  position: fixed;
  /* z-index: 1;  Sit on top */
  left: 0em;
  top: 0em;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Black w/ opacity */
  background-color: rgb(0, 0, 0, 0.5);
}

h2 {
  color: rgb(27, 20, 20);
}

/* Modal Header */
.modal-header,
.evolutions,
.preevolutions {
  width: 100%;
  padding: .5rem .16rem;
  background-color: rgb(5, 148, 243);
  color: rgb(3, 3, 3);
}

/* Modal Body */
.modal-body {
  padding: 1rem auto;
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  width: 19rem;
  font-family: 'Blinker', sans-serif;
  background-color: #fefefe;
  background-image: url("imagenes pokemon/pokedex.png");
  background-repeat: no-repeat;
  margin: auto;
  padding: 6.5rem 0rem;
  border: .1rem solid rgb(216, 6, 6);
  border-radius: 3.9rem;
  position: relative;
  top: 11rem;
  right: 1rem;
}

/* The Close Button */
.close {
  color: rgb(37, 35, 35);
  float: right;
  position: relative;
  right: 1rem;
  top: -1rem;
  font-size: 3rem;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#averages {
  font-family: 'Blinker', sans-serif;
  border-radius: .15rem;
  color: bisque;
}

.to-top {
  font-family: sans-serif;
  color: black;
  border-color: rgb(22, 3, 3);
  padding-top: 2.5rem;
  display: inline-block;
  position: relative;
  top: 2.5rem;
  left: 10rem;
  text-decoration: none;
  transition: all .3s ease-out;
}

.to-top:before {
  content: '▲';
  font-size: .9rem;
  position: absolute;
  top: 3%;
  left: 50%;
  margin-left: -.7rem;
  border: solid .13rem white;
  border-radius: 10rem;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.3rem;
  border-color: inherit;
  transition: transform .5s ease-in;
}

.to-top:hover {
  color: rgb(7, 90, 245);
  border-color: rgb(255, 15, 15);
}

.to-top:hover:before {
  transform: rotate(360deg);
}

#ancla {
  color: rgb(255, 251, 251);
  padding-top: 1.8rem;
  display: inline-block;
  /* or block */
  position: relative;
  top: -5.5rem;
  left: 85%;
  border-color: rgb(253, 252, 252);
  text-decoration: none;
  /* text-align:center; */
  font-family: sans-serif;
  /* font-size:180%; */
  /* margin:-1em; */
  transition: all .3s ease-out;
}

#ancla:before {
  content: '▲';
  font-size: .70rem;
  position: absolute;
  top: -1rem;
  left: 40%;
  margin-left: -.6rem;
  border: solid .14rem rgb(146, 231, 48);
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-color: inherit;
  transition: transform .5s ease-in;
}

#ancla:hover {
  color: rgb(229, 255, 0);
  border-color: rgb(255, 15, 15);
}

#ancla:hover:before {
  transform: rotate(360deg);
}


@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}


/* MEDIA QUERIES */
/* Extra small devices */
@media screen and (max-width: 320px) {}

/* Extra small devices */
@media screen and (max-width: 375px) and (min-width: 321px) {
  .btnMenu {
    right: 7rem;
  }

  .to-top {
    left: 12rem;
  }

  .contentInfo {
    margin-top: 11rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 425px) and (min-width: 376px) {
  .btnMenu {
    right: 8.5rem;
  }

  .to-top {
    left: 14rem;
  }

  .contentInfo {
    margin-top: 12rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) and (min-width: 426px) {
  header img.logo {
    width: 50%;
  }

  .btnMenu {
    top: 1rem;
  }

  .contentInfoIndex {
    margin: 7.1rem 1.5rem 1rem;
    padding: 1rem;
  }

  .to-top {
    left: 32rem;
  }

  .contentInfo {
    margin: 1.5rem;
    margin-top: 7rem;
  }

  .modal-content {
    width: 34rem;
    top: 8rem;
    margin-bottom: 1rem;
  }

  #ancla {
    width: 6rem;
    top: -6rem;
    left: 35rem;
    font-size: 1.2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  header img.logo {
    width: 50%;
  }

  .btnMenu {
    margin: 0 .5rem;
    top: 2rem;
    right: 5rem;
  }

  .contentInfoIndex {
    margin: 9.5rem 2rem 1rem;
  }

  .to-top {
    left: 45rem;
  }

  .contentInfo {
    margin: auto 2rem;
    margin-top: 9rem;
    border-radius: 2rem;
  }

  .modal-content {
    width: 34rem;
    top: 10rem;
    margin-bottom: 1rem;
  }

  #ancla {
    left: 42rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  header img.logo {
    width: 50%;
    height: 6rem;
  }

  .btnMenu {
    top: .5rem;
    right: 9rem;
    margin: .5rem;
  }

  .contentInfoIndex {
    width: 100%;
    margin: 6rem auto 1rem;
    padding: 2rem;
  }

  .to-top {
    left: 59rem;
  }

  .contentInfo {
    margin-top: 7rem;
  }

  .modal-content {
    width: 34rem;
    top: 10rem;
    margin-bottom: 1rem;
  }

  #ancla {
    top: -9.5rem;
    left: 70rem;
    font-size: 1.2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1441px) {}
